.play {
    color : red;
    margin: 15px;
}
#rock {
    margin:15px;
}
#paper {
    margin:15px;
}
#scissors {
    margin:15px;
}

#wrapper {
    border : 1px solid black;
    padding: 20px;
    max-width: 325px;
}